<div class="row">
  <div class="col-md-12"  *ngFor="let book of borrowedBooks; let i = index">
    <div class="card borrowedBookCard">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-3 ml-auto">
          <div class="card-left-image-wrapper">
            <img class="card-left-image" src="assets/img/damir-bosnjak.jpg" alt="...">
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-9 ml-auto">
          <div class="p-2">
            <div class="row">
              <div class="col-lg-6  col-md-6 col-6">
                <h5 class="title">{{ book.title }}</h5>
                <p class="description">{{ book.resume }}</p>
                <p class="description"> <b> Author: </b>  <span class="description"> {{ book.author }} </span></p>
                <p class="description"> <b> Pages: </b>  <span class="description"> {{ book.pages }} </span></p>
              </div>
              <div class="col-lg-6 col-md-6 col-6 border-info border-left-2">
                <h5 class="title">Infos</h5>
                <p class="description"> <b class="text-success"> Book borrowed on : </b>  12/12/20 </p>
                <p class="description"> <b class="text-danger"> Book to return on: </b> 12/12/20 </p>
                <p class="description"> <b> Librarian: </b> Salomon AYAH</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  